[submodule "libraries/zip_libraries/zip"]
	path = libraries/zip_libraries/zip
	url = https://github.com/kuba--/zip
[submodule "libraries/zip_libraries/zlib"]
	path = libraries/zip_libraries/zlib
	url = https://github.com/madler/zlib
[submodule "libraries/ereader/qt5-kobo-platform-plugin"]
	path = libraries/ereader/qt5-kobo-platform-plugin
	url = https://github.com/Kobo-InkBox/qt5-kobo-platform-plugin
[submodule "libraries/ereader/ereaderdev-lib"]
	path = libraries/ereader/ereaderdev-lib
	url = git@github.com:Kobo-InkBox/ereaderdev-lib.git
[submodule "libraries/ereader/inkbox"]
	path = libraries/ereader/inkbox
	url = https://github.com/Kobo-InkBox/inkbox.git
